body{
    padding: 100px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header sidebar"
    "main main sidebar"
    "footer footer sidebar"
    "test test test";
    padding: 10px;
    height: 400px;
    border: 1px dashed black;
}

.box{
    border: 10px solid palevioletred;
    background-color: lightpink;
}

.box-1{
    grid-area: header;
}

.box-2{
    grid-area: footer;
}

.box-3{
    grid-area: main;
}

.box-4{
    grid-area: sidebar;
}

.box-5{
    grid-area: test;
}